
/* styles.css */

/* Container for the email form */
.email-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.email-header {
    text-align: left; /* Right-align the title and text */
}

.email-header p {
    font-weight: 450;
    line-height: var(--body-line-height);
}

.email-header h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    font-weight: 600;
}

em {
    display: inline-block;
    font-style: normal;
    position: relative;
    -webkit-transform: translateZ(0);
  }

  em::after {
    background-color: var(--yellow);
    bottom: 7%;
    content: "";
    height: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }


.email-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-fields {
    display: flex;
    gap: 40px;
}

.input-fields div {
    flex: 1;
}

.email-form .form-checkbox a {
    color: var(--green-15);
}