
/* styles.css */

/* Container for the email form */
.email-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.email-header {
    text-align: left; /* Right-align the title and text */
}

.email-header p {
    font-weight: 450;
    line-height: var(--body-line-height);
}

.email-header h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    font-weight: 600;
}

em {
    display: inline-block;
    font-style: normal;
    position: relative;
    -webkit-transform: translateZ(0);
  }

  em::after {
    background-color: var(--yellow);
    bottom: 7%;
    content: "";
    height: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }


.email-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-fields {
    display: flex;
    gap: 40px;
}

.input-fields div {
    flex: 1;
}

.email-form button {
    text-transform: uppercase;
    background-image: linear-gradient(  102deg,  var(--yellow) 0%,  var(--lime) 51%, /* Darker shade */  var(--lime) 100%);
    color: var(--black);
    background-size: 200%;
    border: 2px solid #e1f07a;
    transition: background-position 0.5s ease-in-out;
    /*Smoothtransition*/padding: 8px;
    border-radius:var(--border-radius-4);
    -webkit-border-radius:var(--border-radius-4);
    -moz-border-radius:var(--border-radius-4);
    -ms-border-radius:var(--border-radius-4);
    -o-border-radius:var(--border-radius-4);
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.email-form button:hover {
    background-position: 100% 0%; /* Move to the second half */
}

.email-form .form-checkbox a {
    color: var(--green-15);
}