footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.footer-container {
  width: 80%;
  margin: 0 auto; /* Center the container */
  padding: 2em;
}

.footer-testimonial {
  width: 30em;
}
/* Responsive behaviors */

/* Footer Responsive Styles */
@media (max-width: 767px) {
  .footer-container {
    padding-top: 2em;
    padding-left: 0em;
    padding-right: 0em;
    width: 95%;
  }
    /* Heading */
    .footer h3 {
      font-size: 1.75rem;
      line-height: 1.2;
    }

    /* Email Form and Image Section */
    .footer .flex.flex-col.md\:flex-row p {
      font-size: 0.875rem;
    }

    /* Footer Links Section */
    .footer .grid.grid-cols-1.md\:grid-cols-3 p {
      font-size: 1rem;
    }

    .footer .grid.grid-cols-1.md\:grid-cols-3 a {
      font-size: 0.875rem;
    }

    /* Connect with Us Section */
    .footer .p-4 p {
      font-size: 1rem;
    }

    .footer .p-4 a {
      font-size: 0.875rem;
    }

    /* Copyright Section */
    .footer .flex.flex-col.md\:flex-row p {
      font-size: 0.875rem;
    }
    .footer .flex.flex-col.md\:flex-row ul a {
      font-size: 0.875rem;
    }

   .footer-testimonial {
      width: auto;
   }
  }