.hero-section {
	background-color: var(--light-lime-green);
	line-height: 5em;
	padding: 20px;
	text-align: center;
	height: 65vh;
	gap: 25px;
}

.service-cards-container {
	gap: 25px; /* Spacing between cards */
	padding: 20px; /* Padding around the container */
}

.service-card {
	padding: 20px;
	box-shadow: var(--box-shadow-3);
}

.item3 {
    grid-column: span 2;
	margin: auto;
}

.path-section {
	/* TODO: Background with the 3 circles */
	background-color: var(--white);
}


.circle {
	position: absolute;
	border-radius: 50%;
	bottom: 0; /* Position circles at the bottom */
	transform: translateX(-50%); /* Center horizontally */
}

.circle1 {
	width: 200px;
	height: 200px;
	background-color: #88D08A;
	opacity: 0.2;
	left: 50%; /* Center horizontally */
	bottom: -100px; /* Move up to show only the top half */
}

.circle2 {
	width: 150px;
	height: 150px;
	background-color: #A3D588;
	opacity: 0.2;
	left: 50%; /* Center horizontally */
	bottom: -75px; /* Move up to show only the top half */
}

.circle3 {
	width: 100px;
	height: 100px;
	background-color: #BDD986;
	opacity: 0.2;
	left: 50%; /* Center horizontally */
	bottom: -50px; /* Move up to show only the top half */
}

/* Container for the grid */
.path-cards-container {
	gap: 25px; /* Spacing between cards */
	padding: 20px; /* Padding around the container */
  }
  
  /* Styling for each card */
  .path-card {
	padding: 20px;
	box-shadow: var(--box-shadow-3);
  }
  
  /* Styling for the image container */
  .item1 {
	margin-bottom: 15px; /* Space between image and text */
  }
  
  /* Styling for the text container */
  .item2 {
	flex-shrink: 1; 
  }
  




    