/* Classes */

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
	padding: 1em;
}

/* Logo Styles */
.logo img {
    height: 40px; /* Adjust based on your logo size */
}

/* Navigation Links Styles */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem; /* Space between links */
}

.nav-links li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    position: relative; /* Required for pseudo-element positioning */
    transition: color 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust to position the underline */
    width: 0; /* Start with no width */
    height: 2px; /* Thickness of the underline */
    background-color: var(--lime); /* Color of the underline */
    transition: width 0.3s ease; /* Animate the width */
}

.nav-links li a:hover {
    color: var(--lime);
}

.nav-links li a:hover::after {
    width: 100%; /* Expand the underline to full width */
}

.nav-links li a.active {
    color: var(--lime);
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
    }

    .cta-button {
        width: 100%;
        text-align: center;
    }
}