
h3 {font-size: var(--text-sm)}

.footer h3 { font-size: var(--h3-font-size); }

.feature {
    background-color: var(--lime-green-1);
    color: var(--green-19);
    font-weight: 500;
}

@media (max-width: 767px) {

    .footer h3 { font-size: var(--h3-font-size-mobile); }

    .services-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tab-square {
        flex-direction: row;
        width: auto;
        height: 60px;
    }

}

