{% extends "blog/base_blog.html" %} {% block blog_content %} {% load bleach_tags %}
<article class="post-detail">
  <section class="hero" id="hero">
    <div class="hero-green">
      <div
        class="hero-content flex mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20 lg:py-24"
      >
        <div>
          <span class="breadcrumb">Resources</span>
          <div class="divider"></div>
          <h1
            class="mb-6 max-w-3xl text-3xl font-bold md:mb-10 md:text-5xl lg:mb-12 lg:text-6xl md:leading-tight"
          >
            {{ post.title }}
          </h1>
          <div class="flex flex-col md:flex-row items-stretch gap-4">
            <div class="post-meta">
              <span class="blog-badge">By {{ post.author.get_full_name }}</span>
              <span>
                <time datetime="{{ post.created_on|date:'Y-m-d' }}">
                  {{ post.created_on|date:"M j, Y" }}
                </time>
              </span>
            </div>
          </div>
        </div>
        <div>
          {% if post.main_image %}
          <img
            src="{{ post.main_image.url }}"
            alt="{{ post.title }}"
            class="shadow relative md:h-[400px] c-h-400px"
          />
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="blog-container">
      <div><p>{{ post.summary|bleach}}</p></div>
      <div>{{ post.content|bleach }}</div>
    </div>
  </section>
</article>

{% endblock %}
