{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book-call.css' %}">
{% endblock %}

{% block content %}
<section class="call-hero-section">
    <div class="title-container mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <h1 class="font-bold mb-5">Schedule a call with us</h1> <!-- Larger on mobile -->
        <div class="text-left mx-auto mb-8 mt-4 max-w-lg text-base md:mb-12 md:text-lg">
            <p> Are you looking to grow giving to your mission cause, engage more supporters, or launch a successful campaign? Let’s talk. </p>
            <p> Book a call to discuss your current challenges, identify opportunities for growth, and explore how we can support your mission. Whether you need strategic advice, hands-on fundraising guidance, or expert training, we’re here to help.</p>
            <p>Schedule your free, no-obligation call today and take the next step toward sustainable fundraising success.</p>
        </div>
        <div class="flex justify-center mb-5">
            <div class="mr-6 md:mr-10 md:mr-12">
              <h3 class="text-3xl font-bold md:text-4xl">45k+</h3> <!-- Larger on mobile -->
              <p class="text-sm">Happy Customers</p>
            </div>
            <div>
              <h3 class="text-3xl font-bold md:text-4xl">200K+</h3> <!-- Larger on mobile -->
              <p class="text-sm">Emails Sent</p>
            </div>
        </div>
        <!-- Image -->
      <img src="{% static 'media/call-image.jpg'%}" alt="" class="inline-block h-[500px] w-full object-cover" />
    </div>
</section>

<section class="conditions-section">
    <div class="container mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <div class="conditions-container flex justify-center"> <!-- Center the card -->
            <div class="card w-full md:w-1/2"> <!-- Card takes up half the screen -->
                <h2 class="text-4xl font-bold md:text-3xl mb-4 text-center">Please call us if...</h2> <!-- Adjusted size and centered -->
                <ul class="list-none pl-0"> <!-- Remove default padding -->
                    <li class="flex items-start"> <!-- Align SVG with text -->
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;"> <!-- Adjusted SVG size and alignment -->
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You represent a Christian charity or mission agency that is looking to increase giving from individual donors, major donors or churches.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You need help with launching effective fundraising appeals, growing giving from major donors or legacies, looking for new donors, and more.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are ready to invest money and other resources in fundraising, marketing and communications.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are looking for fundraising trainers for your team or speakers for your event.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are a key decision-maker or budget holder when it comes to partnering with a consultancy like ours.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="form-section">
    <div class="container mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <div class="form-container flex flex-col md:flex-row gap-8">
            <div class="form-content w-full md:w-1/2">
                <h2 class="text-4xl font-bold md:text-3xl mb-4">In our 45-minute FREE call, we will...</h2> <!-- Adjusted size -->
                <div class="my-6 w-16 border-t border-amber-300"></div>
                <ul>
                    <li>Discuss your key fundraising challenges.</li>
                    <li>Identify new goals for growing giving and what you need to achieve them. </li>
                    <li>Explore how we can work together to move forward.</li>
                </ul>
            </div>
            <div class="form-wrapper w-full md:w-1/2 p-10">
                <form action="" class="mb-10" method="post">
                    {% csrf_token %} <!-- Add this if using Django to prevent CSRF attacks -->
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="form-label">First Name <span class="required">*</span></label>
                            <input type="text" class="form-input" placeholder="First Name" name="first_name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Surname <span class="required">*</span></label>
                            <input type="text" class="form-input" placeholder="Surname" name="surname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email <span class="required">*</span></label>
                        <input type="email" class="form-input" placeholder="name@pagedone.com" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone <span class="required">*</span></label>
                        <input type="tel" class="form-input" placeholder="Phone" name="phone" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Name of your organisation <span class="required">*</span></label>
                        <input type="text" class="form-input" placeholder="Organisation Name" name="organisation_name" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">What is your role in the organisation? <span class="required">*</span></label>
                        <input type="text" class="form-input" placeholder="Your Role" name="role" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label">What is the annual income of your organisation? <span class="required">*</span></label>
                        <select class="form-input" name="annual_income" required>
                            <option value="" disabled selected>Select an option</option>
                            <option value="Less than £500K">Less than £500K</option>
                            <option value="£500K - £1million">£500K - £1million</option>
                            <option value="£1 million - £3 million">£1 million - £3 million</option>
                            <option value="£3 million - £10 million">£3 million - £10 million</option>
                            <option value="Over £10 million">Over £10 million</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Do you have fundraisers in your team? <span class="required">*</span></label>
                        <div class="form-radio">
                            <label><input type="radio" name="fundraisers" value="Yes" required> Yes</label>
                            <label><input type="radio" name="fundraisers" value="No" required> No</label>
                            <label><input type="radio" name="fundraisers" value="Not Yet" required> Not Yet</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">How can we best support you? Please share specific details about your needs and goals. <span class="required">*</span></label>
                        <textarea class="form-textarea" placeholder="Write your message..." name="support_needs" required></textarea>
                    </div>
                    <div class="form-checkbox">
                        <input type="checkbox" id="checkbox-policy" name="privacy_policy" required>
                        <label for="checkbox-policy">You agree to our friendly <a href="#" class="underline">privacy policy.</a></label>
                    </div>
                    <button type="submit" class="form-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}