{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/book-call.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="call-hero-section">
  <!-- Hero Green Section -->
  <div class="hero-green">
    <div class="hero-content mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20 lg:py-24">
      <h1 class="mb-6 max-w-3xl text-3xl font-bold md:mb-10 md:text-5xl lg:mb-12 lg:text-6xl md:leading-tight">Schedule a call</h1>
      <div class="stats flex flex-col md:flex-row items-stretch gap-4">
        <div>
          <h3>45k+</h3>
          <p>Happy Customers</p>
        </div>
        <div class="divider-vertical"></div>
        <div>
          <h3>200K+</h3>
          <p>Emails Sent</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mission Section -->
  <div class="mission-section">
    <div class="mission-content">
      <div class="mission-text">
        <h3>Our mission</h3>
        <div class="divider"></div>
        <p>Are you looking to grow giving to your mission cause, engage more supporters, or launch a successful campaign? Let’s talk.</p>
        <p>Book a call to discuss your current challenges, identify opportunities for growth, and explore how we can support your mission. Whether you need strategic advice, hands-on fundraising guidance, or expert training, we’re here to help.</p>
        <p>Schedule your free, no-obligation call today and take the next step toward sustainable fundraising success.</p>
      </div>
      <!-- Photo -->
      <img src="{% static 'media/call-image.jpg'%}" alt="" class="mission-image" />
    </div>
  </div>
</section>

<section class="conditions-section">
    <div class="container mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <div class="conditions-container flex justify-center"> <!-- Center the card -->
            <div class="card w-full md:w-1/2"> <!-- Card takes up half the screen -->
                <h2 class="text-4xl font-bold md:text-3xl mb-4 mt-4 text-center">Please call us if...</h2> <!-- Adjusted size and centered -->
                <ul class="list-none pl-0 mb-6"> <!-- Remove default padding -->
                    <li class="flex items-start"> <!-- Align SVG with text -->
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;"> <!-- Adjusted SVG size and alignment -->
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You represent a Christian charity or mission agency that is looking to increase giving from individual donors, major donors or churches.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You need help with launching effective fundraising appeals, growing giving from major donors or legacies, looking for new donors, and more.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are ready to invest money and other resources in fundraising, marketing and communications.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are looking for fundraising trainers for your team or speakers for your event.
                    </li>
                    <li class="flex items-start">
                        <svg class="mt-1 mr-2 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" style="width: 1.25rem; height: 1.25rem;">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        You are a key decision-maker or budget holder when it comes to partnering with a consultancy like ours.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="form-section py-10">
    <div class="container mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <div class="form-container flex flex-col md:flex-row gap-8">
            <div class="form-content w-full md:w-1/2">
                <h2 class="text-4xl font-bold md:text-3xl mb-4">In our 45-minute FREE call, we will...</h2> <!-- Adjusted size -->
                <div class="my-6 w-16 border-t border-amber-300"></div>
                <ul>
                    <li>Discuss your key fundraising challenges.</li>
                    <li>Identify new goals for growing giving and what you need to achieve them. </li>
                    <li>Explore how we can work together to move forward.</li>
                </ul>
            </div>
            <div class="form-wrapper w-full md:w-1/2 p-10">
                <form action="{% url 'book_call' %}" method="post">
                    {% csrf_token %}
                    
                    <!-- First Name and Surname -->
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="form-label">First Name <span class="required">*</span></label>
                            <input type="text" class="form-input" placeholder="First Name" name="first_name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Surname <span class="required">*</span></label>
                            <input type="text" class="form-input" placeholder="Surname" name="surname" required>
                        </div>
                    </div>
                
                    <!-- Email -->
                    <div class="form-group">
                        <label class="form-label">Email <span class="required">*</span></label>
                        <input type="email" class="form-input" placeholder="name@page.com" name="email" required>
                    </div>
                
                    <!-- Phone -->
                    <div class="form-group">
                        <label class="form-label">Phone <span class="required">*</span></label>
                        <input type="tel" class="form-input" placeholder="Phone" name="phone" required>
                    </div>
                
                    <!-- Organisation Name -->
                    <div class="form-group">
                        <label class="form-label">Name of your organisation <span class="required">*</span></label>
                        <input type="text" class="form-input" placeholder="Organisation Name" name="organisation_name" required>
                    </div>
                
                    <!-- Role -->
                    <div class="form-group">
                        <label class="form-label">What is your role in the organisation? <span class="required">*</span></label>
                        <input type="text" class="form-input" placeholder="Your Role" name="role" required>
                    </div>
                
                    <!-- Annual Income -->
                    <div class="form-group">
                        <label class="form-label">What is the annual income of your organisation? <span class="required">*</span></label>
                        <select class="form-input" name="annual_income" required>
                            <option value="" disabled selected>Select an option</option>
                            <option value="Less than £500K">Less than £500K</option>
                            <option value="£500K - £1million">£500K - £1million</option>
                            <option value="£1 million - £3 million">£1 million - £3 million</option>
                            <option value="£3 million - £10 million">£3 million - £10 million</option>
                            <option value="Over £10 million">Over £10 million</option>
                        </select>
                    </div>
                
                    <!-- Fundraisers -->
                    <div class="form-group">
                        <label class="form-label">Do you have fundraisers in your team? <span class="required">*</span></label>
                        <div class="form-radio">
                            <label><input type="radio" name="fundraisers" value="Yes" required> Yes</label>
                            <label><input type="radio" name="fundraisers" value="No" required> No</label>
                            <label><input type="radio" name="fundraisers" value="Not Yet" required> Not Yet</label>
                        </div>
                    </div>
                
                    <!-- Support Needs -->
                    <div class="form-group">
                        <label class="form-label">How can we best support you? Please share specific details about your needs and goals. <span class="required">*</span></label>
                        <textarea class="form-textarea" placeholder="Write your message..." name="support_needs" required></textarea>
                    </div>
                
                    <!-- Privacy Policy -->
                    <div class="form-checkbox mb-4">
                        <input type="checkbox" id="checkbox-policy" name="privacy_policy" required>
                        <label for="checkbox-policy">You agree to our friendly <a href="#" class="underline">privacy policy.</a></label>
                    </div>
                
                    <!-- Submit Button -->
                     <div class="button-container"><button type="submit" class="form-button">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}