{% load static %}

<div class="email-container">
    <div class="email-header">
        <p>Every week, you will receive an email with biblical inspiration, research-backed insights, or fundraising ideas you can apply immediately. Join a growing community of over 1,000 Christian leaders and fundraisers. <strong><em>Sign up</em> today.</p></strong>
    </div>
    <form method="post" action="{% url 'subscribe' %}" class="email-form">
        <!-- CSRF Token -->
        {% csrf_token %}

        <!-- First Name and Last Name Fields -->
        <div class="input-fields">
            <div>
                <label for="id_first_name">First Name</label>
                {{ subscribe_form.first_name }}
                {% if subscribe_form.first_name.errors %}
                    <div class="error-message">
                        {{ subscribe_form.first_name.errors }}
                    </div>
                {% endif %}
            </div>
            <div>
                <label for="id_last_name">Last Name</label>
                {{ subscribe_form.last_name }}
                {% if subscribe_form.last_name.errors %}
                    <div class="error-message">
                        {{ subscribe_form.last_name.errors }}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Email Field -->
        <div>
            <label for="id_email">Email Address</label>
            {{ subscribe_form.email }}
            {% if subscribe_form.email.errors %}
                <div class="error-message">
                    {{ subscribe_form.email.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Privacy Policy -->
        <div class="form-checkbox flex">
            <span class="mr-2">{{ subscribe_form.agree_to_policy }}</span>
            {{ subscribe_form.agree_to_policy.label_tag }}
            {% if subscribe_form.agree_to_policy.errors %}
                <div class="error-message">
                    {{ subscribe_form.agree_to_policy.errors }}
                </div>
            {% endif %}
        </div>

        <!-- Submit Button -->
        <div class="button-container">
            <button type="submit" class="font-bold">Join Today</button>
        </div>
    </form>
</div>