{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />

{% endblock %} {% block content %}
<!-- Hero Section -->
<section class="hero" id="hero">
  <div class="hero-green">
    <div
      class="hero-content mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20 lg:py-24"
    >
      <h1
        class="mb-6 max-w-3xl text-3xl font-bold md:mb-10 md:text-5xl lg:mb-12 lg:text-6xl md:leading-tight"
      >
        Welcome to Christian Fundraising Consultancy
      </h1>
      <div class="mx-auto mt-10 flex gap-6">
            <!-- Call Button -->
            <a href="/call" class="CTA-button flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
              </svg>
              Call Us
          </a>
          
          <!-- Email Button -->
          <a href="mailto:example@email.com" class="email-button flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
              </svg>
              Email Us
          </a>
        </div>
    </div>
  </div>

  <!-- Mission Section -->
  <div class="mission-section">
    <div class="mission-content">
      <div class="mission-text">
        <h3 class="text-2xl font-bold md:text-3xl">Our mission</h3>
        <div class="divider"></div>
        <p>
          To help Christian charities like yours to unlock the generosity of
          their supporters by applying biblical principles of fundraising,
          data-driven insights, and stories that stir hearts into action.
        </p>
      </div>
      <img
        src="{% static 'media/home-image.jpg' %}"
        alt=""
        class="shadow relative -bottom-6 -right-6 mt-8 w-[480px] object-cover md:absolute md:mt-0 md:h-[480px] c-h-480px"
      />
    </div>
  </div>
</section>

<!-- Services Section -->
<section class="services-section py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold text-center mb-8 md:mb-12">Our services</h2>
    <div
      class="service-cards-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <!-- Fundraising Strategy -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/1.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Fundraising Strategy</h3>
          <p class="text-gray-700">
            We evaluate your fundraising plan, messages and activities and help
            you create a new roadmap for growing giving to your mission.
          </p>
        </div>
      </div>

      <!-- Database Analysis -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/2.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Database Analysis</h3>
          <p class="text-gray-700">
            We unlock the potential of your donor data with our Fundraising
            Fitness Test to increase giving, identify new major donors, and
            boost retention.
          </p>
        </div>
      </div>

      <!-- Creative Services -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/3.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Creative Services</h3>
          <p class="text-gray-700">
            We craft compelling appeals, print and media campaigns, and
            inspiring communications that stir the hearts and faith of Christian
            donors.
          </p>
        </div>
      </div>

      <!-- Major and Legacy Giving -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/4.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Major and Legacy Giving</h3>
          <p class="text-gray-700">
            We help you to build meaningful relationships with key supporters
            and invite them to invest more deeply in your mission.
          </p>
        </div>
      </div>

      <!-- Donor Research -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/5.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Donor Research</h3>
          <p class="text-gray-700">
            We enable you to gain fresh insights into Christian supporters, what
            motivates them to give, and which messages inspire action, through
            surveys and focus groups.
          </p>
        </div>
      </div>

      <!-- Training and Coaching -->
      <div class="service-card bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="h-48 w-full">
          <img
            class="h-full w-full object-scale-down"
            src="{% static 'media/6.jpg'%}"
          />
        </div>
        <div class="p-6">
          <h3 class="text-xl font-bold mb-4">Training and Coaching</h3>
          <p class="text-gray-700">
            Equip you and your team with expert-led training, webinars, and
            courses to achieve fundraising success.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Proven Workflow -->
{% include 'workflow.html' %}

<!-- Impact Section -->
{% include 'impact.html' %}

<!-- Recent Clients Section -->
 <section class="recent-clients">
  <div class="logos">
    <div class="logo-slide">
      <img class="grayscale" src="{% static 'media/logos/1.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/2.png'%}">
      <img class="grayscale" src="{% static 'media/logos/3.png'%}">
      <img class="grayscale" src="{% static 'media/logos/4.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/5.png'%}">
      <img class="grayscale" src="{% static 'media/logos/6.png'%}">
      <img class="grayscale" src="{% static 'media/logos/7.png'%}">
      <img class="grayscale" src="{% static 'media/logos/8.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/9.png'%}">
      <img class="grayscale" src="{% static 'media/logos/10.png'%}">
    </div>
    <div class="logo-slide">
      <img class="grayscale" src="{% static 'media/logos/1.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/2.png'%}">
      <img class="grayscale" src="{% static 'media/logos/3.png'%}">
      <img class="grayscale" src="{% static 'media/logos/4.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/5.png'%}">
      <img class="grayscale" src="{% static 'media/logos/6.png'%}">
      <img class="grayscale" src="{% static 'media/logos/7.png'%}">
      <img class="grayscale" src="{% static 'media/logos/8.jpg'%}">
      <img class="grayscale" src="{% static 'media/logos/9.png'%}">
      <img class="grayscale" src="{% static 'media/logos/10.png'%}">
    </div>
  </div>
 </section>

<!-- Testimonials Section -->
{% include 'testimonials.html' %}

<!-- Resources Section -->
<section class="blog-section py-16">
  <div class="container m-auto px-4">
    {% load blog_tags %} {% show_latest_posts %}
  </div>
</section>

{% endblock %}
