{% load static %}

<nav class="navbar">
    <!-- Logo on the far left -->
    <div class="logo">
        <a href="{% url 'index' %}">
            <img class="logo ml-4" style="height: 60px;" src="{% static 'media/logo.png' %}" alt="Company Logo"> <!-- Replace with your logo path -->
        </a>
    </div>

    <!-- Navigation links in the middle -->
    <ul class="nav-links">
        <!-- Home Link -->
        <li>
            {% url 'index' as index_url %}
            <a href="{{ index_url }}" class="{% if request.path == index_url %}active{% endif %}">Home</a>
        </li>

        <!-- Services Link -->
        <li>
            {% url 'services' as services_url %}
            <a href="{{ services_url }}" class="{% if request.path == services_url %}active{% endif %}">Services</a>
        </li>

        <!-- Training Link -->
        <li>
            {% url 'training' as training_url %}
            <a href="{{ training_url }}" class="{% if request.path == training_url %}active{% endif %}">Training</a>
        </li>

        <!-- Resources Link -->
        <li>
            {% url 'resources' as about_url %}
            <a href="{{ resources_url }}" class="{% if request.path == resources_url %}active{% endif %}">Resources</a>
        </li>

        <!-- About Link -->
        <li>
            {% url 'about' as about_url %}
            <a href="{{ about_url }}" class="{% if request.path == about_url %}active{% endif %}">About</a>
        </li>

        <!-- Contact Link -->
        <li>
            {% url 'contact' as contact_url %}
            <a href="{{ contact_url }}" class="{% if request.path == contact_url %}active{% endif %}">Contact</a>
        </li>
    </ul>

    <!-- "Book A Call" button on the far right -->
    <div class="CTA-button mr-4 px-4 py-2 rounded-md font-semibold text-white">
        <a href="{{ call_url }}" class="btn">Book A Call</a>
    </div>
</nav>