/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import "tailwindcss";

@layer base {
    /* Reset */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }

    /* Additions */

    button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none; 
    }


}


/* Varibles */




:root {
    /* Test palette */
    /* --red: rgb(255, 104, 76);
    --light-blue: rgb(42, 167, 255);
    --false-white: rgb(234, 247, 255);
    --dark-blue: rgb(27, 60, 116);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --gray: rgb(114, 124, 141);
    --false-black: rgb(3, 16, 59);
    --green: #EEF6CC; */

    /* Real palette */
    --black: #2c2e35;
    --gray: #9b9c9f;
    --green: #62c892;
    --lime-green: #88d08a; 
    --lime: #bdd986;
    --yellow: #ffdd85;

    --dark-green: #626F47;

    /* Additions */
    /* --light-lime-green: #F9F6DC;
    --alt-light-lime-green: #FEFAE0;
    --lime-green: #e1f07a;
    --green: #6F9808;
    --dark-green: #626F47;
    --darker-green: #384516;
    --white: #FCFCFA;
    --false-white: #FEFAE0;
    --yellow: #FFCF50; */
    

    --border-radius-1: 60px;
    --border-radius-2: 16px;
    --border-radius-3: 10px;
    --border-radius-4: 5px;

    --box-shadow-1: rgba(144, 238, 144, 0.2) 0px 16px 46px 0px; /* A soft light green shadow surrounding object. */
    --box-shadow-2: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .0625rem rgba(0,0,0,.1); /* A more defined shadow with a netutral tone. */
    --box-shadow-3:  rgba(27, 60, 116, 0.06) 0px 16px 46px 0px;

    --h1-font-size: clamp(3.6rem,1.5vw + 2.88rem,4.8rem);
    --h1-line-height: 1.1;
    --h2-font-size: clamp(3rem,0.75vw + 2.64rem,3.6rem);
    --h2-line-height: 1.2;
    --h3-font-size: clamp(2.6rem,0.25vw + 2.48rem,2.8rem);
    --h3-line-height: 1.2;
    --h4-font-size: clamp(2.2rem,0.25vw + 2.08rem,2.4rem);
    --h4-line-height: 1.3;
    --h5-font-size: 2rem;
    --h5-line-height: 1.3;
    --h6-font-size: 1.8rem;
    --h6-line-height: 1.3;
    --body-font-size: 1.8rem;
    --body-line-height: 1.5;

    /* Spacing and sizing system */
    --padding-1: 10px;
    --padding-2: 20px;

}


html, body {
	background-color: var(--white);
	font-family: "Satoshi-Variable", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
	color: var(--black);
}

h1 {
    font-size: clamp(24px, 6vw, 48px); 
	color: var(--darker-green)
}

h2 {
	font-size: clamp(24px, 4vw, 48px);
}

h4 {
    display: flex;
    flex-direction: row;
}

h4:before, h4:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--yellow);
    margin: auto;
}

p, a, button {
    font-size: clamp(16px, 2vw, 24px); 
}

a {
	color: var(--dark-green);
	transition: color 0.2s ease; 
}

a:hover { 
	color: var(--yellow);
}

button {
    padding: 10px 20px;
	border-radius: var(--border-radius-1);
	padding: var(--padding-1);
	background-color: var(--lime-green);
	transition: background-color 0.2s ease, transform 0.3s ease;
}

button:hover {
	transform: translateY(-2px);
	background-color: var(--yellow);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}
  
/* Responsive Behaviors */

@media (max-width: 768px) {
    .main-container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 10px;
    }
}

section {
    width: 100%;
}

.container {
    margin: 0 auto; /* Center the container */
    max-width: 70%; /* Constrain the content width */
    width: 100%; /* Take full width up to max-width */
    padding: 2rem; /* Add padding inside the container */
}

.email-input {
	width: 50vw; 
    height: 40px; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid var(--dark-green); 
    border-radius: var(--border-radius-2);
	font-size: 16px; 
	background-color: var(--false-white);
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-5px);
	}
}

.CTA-button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    border-radius: var(--border-radius-1);
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    z-index: 1;
	box-shadow: var(--box-shadow-1);

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--lime-green);
        border-radius: var(--border-radius-1);
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--yellow);
        transition: all 0.3s;
        border-radius: var(--border-radius-2);
        z-index: -1;
    }

    &:hover {
		box-shadow: var(--box-shadow-2);
        &:before {
            width: 100%;
        }
    }
}

