
/* Services section */
.service-cards-container {
  gap: 25px; /* Spacing between cards */
  padding: 20px; /* Padding around the container */
}

.service-card {
  padding: 20px;
  box-shadow: var(--box-shadow-3);
}

.item3 {
  grid-column: span 2;
  margin: auto;
}

/* Styling for the image container */
.item1 {
  margin-bottom: 15px; /* Space between image and text */
}

/* Styling for the text container */
.item2 {
  flex-shrink: 1;
}

.help-you-grow-section {
  background-color: var(--green-3);
}
/* Help You Frow section */
.grow-section-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  position: relative;
}

.div1 {
  grid-area: 1 / 1 / 5 / 4;
}
.div2 {
  grid-area: 1 / 4 / 5 / 6;
}
.div3 {
  grid-area: 5 / 3 / 6 / 4;
  position: absolute;
  right: 0px;
}
.div4 {
  grid-area: 5 / 4 / 6 / 6;
}



.testimonials-section {
  background-color: var(--green-3);
}

/* Recent Clients Section */

@keyframes slide {
  from {
    transform: translateX(0)  ;
    -webkit-transform: translateX(0)  ;
    -moz-transform: translateX(0)  ;
    -ms-transform: translateX(0)  ;
    -o-transform: translateX(0)  ;
  }
  to {
    transform: translateX(-100%)  ;
    -webkit-transform: translateX(-100%)  ;
    -moz-transform: translateX(-100%)  ;
    -ms-transform: translateX(-100%)  ;
    -o-transform: translateX(-100%)  ;
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
}

.logo-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logo-slide img {
  height: 50px;
  margin: 0 40px;
  display: inline-block;
}