<div class="latest-trainings">
    <h3>Upcoming Training</h3>
    
    <div class="training-list">
        {% for event in latest_trainings %}
            <div class="training-item">
                <h4>{{ event.name }}</h4>
                <time>{{ event.start_datetime|date:"M j" }}</time>
                <a href="{{ event.url }}" class="btn-small">Details</a>
            </div>
        {% empty %}
            <p>No upcoming training sessions</p>
        {% endfor %}
    </div>
</div>